body {
    font-size: 0.95rem;
    background-color: lightgrey;
}

select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
}

/*for IE10*/
select::-ms-expand {
   display: none;
}

.gbr-btn {

    background-color: darkgreen;
    border-color: darkgreen;

    &:hover {

        background-color: rgb(0, 134, 0);
        border-color: rgb(0, 134, 0);

    }

}

#copyright {

    .copyright-text {

        color: white;
        font-weight: bold;

    }
    .gbr-bar {

        background-color: darkgreen;
        border: 1px solid black;
        box-shadow: 0px 0px 5px #888888;

    }
}

#login_page {

    background-color: lightgrey;
    padding-top: 52px;

    .card {

        border: 1px solid black;
        box-shadow: 0px 0px 5px #888888;
        
        .card-header {
            border-bottom: 1px solid black;
            background-color: darkgreen;
            color: white;
            font-size: 18px;
            font-weight: bold;
        }

        .card-body {
            .card-text {
                &.text-center {
                    font-size:14px;
                }
            }

            .input-group {
                .input-group-addon {
                    background-color: green;
                    border: 1px solid black;
                    
                    i {
                        color: white;
                    }
                }
                
                input {
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                    border-right: 1px solid black;
                }
            }
            .form-group {
                i {
                    color: white;
                }

                button {
                    background-color: darkgreen;
                    color: white;
                }
            }
        }
    }

    .col-sm-6 {

        &.text-center {
            img {
                margin-left: -4rem;
            }
        }
    }

}

nav {

    border-bottom: 2px solid darkgreen; 
    box-shadow: 0px 0px 5px #888888;
    background-color:white;

    span {
        &.navbar-text {
            color: darkgreen !important; 
            font-size: 1rem;
        }
    }

    .navbar-nav {

        &#mainNavbar {
            .nav-item {

                text-decoration-color: lightgrey;

                &:hover {
                    text-decoration-color: black;
                }

                &.active {
                    text-decoration: none;
                }
            }
        }

        .nav-item {
            padding-left: 5px;
            padding-right: 5px;
        }

        #searchDropdownContainer {
            @media screen and (min-width: 768px){
                width: 480px;
            }
        }
    }

}

.navbar {
    padding: 0.2rem 1.9rem;
}

#layout-spacer {
    padding-bottom: 70px;
}

#alert {
    padding-bottom: 5px;
}

#list {

    .card {

        &.blank-card {

            border: 1px solid rgba(0, 0, 0, 0.404);
            box-shadow: 0px 0px 0px black;

            .card-header {

                h5 {

                    button {

                        color: green;

                    }

                }

            }
        
        }

        width:98%;
        background-color: white;
        border: 1px solid black;
        box-shadow: 0px 0px 5px #888888;

        .card-body {

            padding: 0px;

            .alert {
                padding-top: 0.75rem;
                padding-left: 1.25rem;
                padding-right: 1.25rem;
                padding-bottom: 0rem;
            }

            .card-title {
                background-color: darkgreen;
                color: white;
            }

            .small-paginator {

                .btn-group {

                    padding-left: 0.5rem !important;
                    padding-bottom: 0.8rem !important;

                    .btn-gbr {
                        padding: .25rem .5rem;
                        font-size: .875rem;
                        line-height: 1.5;
                        border-radius: .2rem;
                    }
                }
                
            }

            .large-paginator {
                .btn-group {
                    padding-left: 2.3rem !important;
                    padding-bottom: 0.8rem !important;
                }
            }

            .btn-gbr {
                color: white;
                background-color: darkgreen;
                border: 1px solid black;

                &:focus, &:hover, &.active {
                    color: white;
                    background-color: rgb(1, 126, 1);
                }

             }

            #historyTab {

                li {

                    a {

                        color: darkgreen;

                        &:hover {

                            color: white;
                            background-color: green;


                        }

                        &.active {

                            background-color:green;
                            color: white;

                        }

                    }

                }

            }
            

            .table-responsive {

                width: 96%;

                table {
                
                    border: 2px solid rgb(233, 233, 233);
    
                    thead {
                        tr {
                            border-bottom: 3px solid lightgrey;
                        }
                    }
    
                    tr {
                        border: 1px solid #ddd;
    
                        &.danger {
                            background-color: rgb(243, 207, 207);
                            &:hover {
                                background-color: rgb(243, 207, 207);
                            }
                        }
    
                        &:hover {
                            background-color: rgba(50,170,50,1);
                        }
                    }
                }
            }
            
        }
    }
}

#productsCard {

    #ProductsTab {

        .nav-item {

            color: white;

            .active {

                background-color: rgb(0, 134, 0);
                border-color: darkgreen;

            }

            a {
                color: white;
                background-color: darkgreen;
                border-color: darkgreen;

                &:hover {

                    background-color: rgb(0, 134, 0);
                    border-color: darkgreen;
    
                }
            }

        }

    }

    #ProductsTabContent {

        table {

            border: 1px solid rgb(201, 201, 201);

            tbody {

                tr {
    
                    &:hover {
                        
                        color: white;
                        background-color: rgba(50,170,50,1);
        
                    }
        
                }
    
            }

        }

    }

}

.gbr-link {

    color: darkgreen;

    &:hover {

        color: white;
    
    }
}